# User-specific files
*.suo
*.user
*.vs
*.log

.awCache
.vscode
.idea

# Build results
bin/
build/
obj/
out/
publish/
uploads/

# Test Output
_test-output/

# NodeJS 
node_modules/

docker-build.ps1
appSettings.Development.json
appSettings.Production.json
launchSettings.json

