name: Nuget Build

on:
  push:
    branches:
      - 'main'
  pull_request:
    branches:
      - 'main'

jobs:
  build:
    runs-on: ubuntu-latest
        
    steps:
    - uses: actions/checkout@v4.2.2
 
    - name: setup dotnet
      id: dotnet
      uses: actions/setup-dotnet@v4.3.1
      with:
        dotnet-version: 8.0.x

    # Note: Unless a concrete version is specified in the `global.json` file,
    # the latest .NET version installed on the runner (including preinstalled
    # versions) will be used by default. To control this behavior, you may want
    # to use temporary `global.json` files.
    # https://github.com/actions/setup-dotnet/blob/main/README.md#matrix-testing
    - name: Create `global.json`
      run: |
        echo '{"sdk":{"version": "${{ steps.dotnet.outputs.dotnet-version }}"}}' > ./global.json

    - name: test
      timeout-minutes: 10
      run: |
        dotnet test --filter Category!=Dependencies

    - name: pack
      run: |
        dotnet pack -c Release

    - name: publish
      run: |
        dotnet nuget push **/*.nupkg --source 'https://api.nuget.org/v3/index.json' --skip-duplicate -k ${{ secrets.nuget }}
